.md-header__topic,
h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 48px;
    letter-spacing: -1px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h5 {
    font-family: 'Droid Serif', serif;
    font-size: 19px;
    font-style: italic;
    line-height: 1.48;
    margin: 0 0 15px 0;
}