<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" defaultResponseMode="File" >
            <remove statusCode="404" />
            <!-- <remove statusCode="500" /> -->
            <error statusCode="404" path="404.html" />
            <!-- <error statusCode="500" path="500.html" /> -->
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
     </staticContent>
    </system.webServer>
</configuration> 